{% include "_header.twig" %}
          <div class="inner cover">
              {% if title is defined %}
            <h1 class="cover-heading">{{ title | escape }}</h1>
              {% endif %}
              {% if description is defined %}
            <p class="lead">{{ description | escape  }}</p>
              {% endif %}
          </div>

<table class="table">
    {% for entry in entries %}
    <tr>
        <td><span class="glyphicon glyphicon-file"></span>  {{ entry.name | escape }}</td>
        <td>{{ entry.size | escape }} bytes</td>
        <td><a class="btn btn-primary  btn-xs" href="{{ folder_base_url | escape }}{{ entry.name | escape }}"><span class="glyphicon glyphicon-download"></span> Download</a></td>
    </tr>
    {% endfor %}
</table>

{% include "_footer.twig" %}

